

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}
.content-section{
    padding-top:4em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
} 

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 180px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-title{
    font-size:18px;
    font-style:garamond;
}

.cart-header {
    font-weight: bold;
    font-size: 1em;
    color: #333;
}

.cart-column {
    
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 55%;
}

.cart-price {
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 0%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1em;
}

.cart-item-image {
    width: 35px;
    height: auto;
    border-radius: 5px;
}

.btn-danger {
    margin-top: .5em;
    color: white;
    background-color: #EB5757;
    font-weight: bold;
    margin-left: 5em;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid indianred;
    background-color: #eee;
    color: #333;
    text-align: center;
    font-size: 1em;
    margin-right: 15px;
}

.cart-row:last-child {
    display:none;
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
} 

.cart-total {
    text-align: left;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    margin-left: 40em;
    font-size: 1em;
}
#welcome{
    display:flex;
    justify-content:center;
}
#cart-container{
    padding-top: 5em;

}
.shopping-cart-button {
    padding: 1rem;
    background-color: primary-color;
}
  .shopping-cart-button hover{
  background-color: darken(primary-color, 10%);
  margin-right: 0.5rem;
}
.form-row{
    padding-left: 5vh;
    padding-right: 5vh;
    
}
.form-group {
    padding-left: 5vh;
    padding-right: 5vh;
    
}
#cart-id{
    display:none;
}
.item-id{
    display: none;
}
